/* General Settings */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Book List */
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Individual Book Card */
.book-show {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(25% - 20px); /* Adjusted width for four books per row */
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.book-show:hover {
    transform: translateY(-5px);
}

.book-show img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 10px; /* Add margin below image */
}

.book-show .details {
    padding: 20px;
    flex: 1; /* Ensures details take remaining space */
}

.book-show h3 {
    margin: 0;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-show .actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: auto; /* Push actions to the bottom */
}

.book-show .edit,
.book-show .delete {
    background: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-top: -10px;
    transition: background 0.3s;
}

.book-show .edit:hover {
    background: #0056b3;
}

.book-show .delete {
    background: #dc3545;
}

.book-show .delete:hover {
    background: #c82333;
}

/* Book Creation and Editing Form */
.book-form {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
}

.book-form h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.book-form .form-group {
    margin-bottom: 20px;
}

.book-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-form input[type="text"],
.book-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.book-form textarea {
    resize: vertical;
    min-height: 100px;
}

.book-form .btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-form .btn:hover {
    background-color: #218838;
}
